<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Bandas</title>
</head>
<body>
    <h1>Todas las bandas</h1>
    <%-include('./partials/menu')%>
    <ul>
        <% bandasInfo.forEach(function(b) { %>
            <li>
                <strong><%= b.nombre %></strong> - <%= b.genero %> <br>
            </li>
        <% }); %>
    </ul>
</body>
</html>